# Streamlit
streamlit==1.55.0

# Interface et logs
rich==14.3.3
markdown-it-py==4.0.0
mdurl==0.1.2
pygments==2.20.0

# Cartographie et géospatial
geemap==0.37.2
earthengine-api==1.7.19
geopandas>=0.13.0
shapely>=2.1.0
folium>=0.20.0
streamlit-folium==0.11.0
box==6.0.1

# Base data science
numpy>=1.25
pandas>=2.1
matplotlib>=3.8

# Export PDF
reportlab==4.0.8